.container {
    padding: 1rem;
    width: 20rem;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;
  }

.img{
  height: 150px;
}

.ul {
  display: flex;
  flex-direction: column;
  height: 250px;
  overflow-y: scroll
}

.button {
  display: flex;
  background: none;
  border: none;
  font-size: 20px;
  color: #808080ce;
  align-self: flex-end;
  cursor: pointer;
}
  