.container {
  padding: 1rem;
  width: 500px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  height: inherit;
}
.listItem {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 13px;
  margin-bottom: 20px;
}

.title {
  font-size: 30px;
}

.img {
  height: 150px;
  border-radius: 10px;
}

.desc {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.ul {
  display: flex;
  flex-direction: column;
  height: 450px;
  overflow-y: scroll;
}

.button {
  display: flex;
  background: none;
  border: none;
  font-size: 20px;
  color: #808080ce;
  align-self: flex-end;
  cursor: pointer;
}
