.favButton {
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 25px;
    font-weight: 500;
    font-family: inherit;
    color: aliceblue;
    background-color: transparent;
    cursor: pointer;
    transition: border-color 0.25s;
  }