.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 400px;
    width: 260px;
    margin: 10px 20px;
    background-size: 350px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    animation: animate-in 1s ease-out forwards;
  }

  .div{
    align-self: flex-end;
  }
  
  .name {
    font-size: 1rem;
    font-weight: bold;
    color: #FFFFFF;
    margin: 0;
    text-shadow: 2px 2px 8px #000000;
  }
  
  .text {
    white-space: pre-wrap;
    font-size: 1.25rem;
    margin: 0.25rem 0 0 0;
    color: #593884;
    font-style: italic;
  }
  
  @keyframes animate-in {
    from {
      opacity: 0;
      transform: translateY(1rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }